<!DOCTYPE html>



<html ng-app="Skills">

<head>

<link rel="stylesheet" type="text/css" href="survey.css">

<script data-require="angular.js@*" data-semver="2.0.0" src="https://code.angularjs.org/1.4.8/angular.js
"></script>
    <script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript" src="angular.js"></script>





</head>



<body >



<div  ng-controller="SkillCtrl">

 <img src="application dev.jpg"> </br></br></br>

<table >
<tr>
<td ><b>Employee Name:</b> &nbsp; </td>
<td><input type="text"  ng-model='EN'  ></td>

<td><b>Employee ID:</b>  &nbsp; </td>
<td><input type="text"   ng-model="EID"></td>
</tr>


<tr>
<td>
<b>Band:</b>
</td>
<td>
<input type="text"  ng-model='Bd'>
</td>

<td>
<b>Service Line:  &nbsp;</b>
</td>
<td> <input type="text" ng-model='srl'> </td>
</tr>


<tr>
<td>
<b>Bluepages Manager Name: &nbsp;</b>
</td>
<td>
<input type="text"  ng-model='BM'>
</td>

<td>
<b>Service Area: a &nbsp;</b>
</td>
<td> <input type="text"  ng-model='SM'> </td>




</tr>



</table>




























<br>
 <b><u>ACTION REQUIRED:</u></b> Complete the following SEAT Talent Skill Assessment and Submit by <b>May 4th, 2015. <b> 

<br>
<p> Please email any questions to "AIS Public Sector Talent/Arlington/IBM"</p>


<br>










<div>

<br>
 
<table>
<tr>
<td>
Primary Job Role
</td>
<td> <input type="text" ng-model='role' size="30" > </td>
</tr>
<tr id='plane'><td><br></td> <td><br></td> </tr>
<tr>
<th  id = "header">
<b >Test Planning and Execution</b>
</th>
<th id = "header">
</th>


</tr>

<tr>
<td>
Test script creation

</td>


<td>

<select ng-model="SelectedNameRow1" ng-options="x for x in names" style="width: 200px;" >
</select>
</td>




</tr>

<tr>
<td>
 Test data creation

</td>



<td width="10%">

<select  ng-model="SelectedNameRow2" ng-options="x for x in names" style="width: 200px;">
</select>



</td>





</tr>

<tr>
<td>
Execute test scripts

</td>



<td>

<select  ng-model="SelectedNameRow3" ng-options="x for x in names" style="width: 200px;">
</select>
</td>





</tr>

<tr>
<td>
Write defects

</td>



<td>

<select  ng-model="SelectedNameRow4" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>






<tr>
<td>
 Effectively communicate to stakeholders/client

</td>



<td>

<select  ng-model="SelectedNameRow5" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>











<tr>
<td>
 Use of HP Application Lifecycle Management (ALM)

</td>



<td>

<select  ng-model="SelectedNameRow6" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>

<tr>
<td>
 Use of Rational ClearCase and ClearQuest

</td>



<td>

<select  ng-model="SelectedNameRow7" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>






<tr>
<td>
 Use of Rational Collaborative Life cycle Management (CLM) product

</td>



<td>

<select  ng-model="SelectedNameRow8" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>








<tr>
<td>
Use of Rational Doors

</td>



<td>

<select  ng-model="SelectedNameRow9" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>









<tr>
<td>
 Use of Rational Manual Tester

</td>



<td>

<select  ng-model="SelectedNameRow10" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>




<tr>
<td>
   Use of Rational Quality Manager
</td>



<td>

<select  ng-model="SelectedNameRow11" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>





<tr>
<td>
Use of Rational Requirements Composer
</td>



<td>

<select  ng-model="SelectedNameRow12" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>




<tr>
<td>  Use of Rational RequisitePro
</td>



<td>

<select  ng-model="SelectedNameRow13" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>



<tr>
<td>  Use of Rational Software Architect Design Manager
</td>



<td>

<select  ng-model="SelectedNameRow14" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>




<tr>
<td>   Use of Rational Team Concert
</td>



<td>

<select  ng-model="SelectedNameRow15" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>





<tr>
<td>    Use Rational TestManager
</td>



<td>

<select  ng-model="SelectedNameRow16" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>





<tr>
<td>   Continuos Integration/Continuous Testing
</td>



<td>

<select  ng-model="SelectedNameRow17" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>






<tr>
<td>   Test-driven development (TDD)/Behavior-driven development (BDD)
</td>



<td>

<select  ng-model="SelectedNameRow18" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>














<tr>
<th id = "header">      <b>Test Leadership and Teamwork</b>
</th>




<td id = "header">


</td>


</tr>



<tr>
<td>      Test Architect/Technical Leadership </td>



<td>

<select  ng-model="SelectedNameRow23" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>     Create test plan</td>



<td>

<select  ng-model="SelectedNameRow24" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>
<tr>
<td>    Create test data plan</td>



<td>

<select  ng-model="SelectedNameRow25" ng-options="x for x in names" style="width: 200px;">
</select>



</td>










</tr>


<tr><td>    Create test schedule</td>



<td>

<select  ng-model="SelectedNameRow26" ng-options="x for x in names" style="width: 200px;">
</select>



</td>


</tr>

<tr>
<td>   Review and track test team schedule/progress</td>



<td>

<select  ng-model="SelectedNameRow27" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>   Resource onboarding</td>



<td>

<select  ng-model="SelectedNameRow28" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>  Create and present test status and reports to key
stakeholders</td>



<td>

<select  ng-model="SelectedNameRow29" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>

<tr>
<td>   Prepare/Analyze test metrics</td>



<td>

<select  ng-model="SelectedNameRow30" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>




<tr>
<td>  Perform defect management</td>



<td>

<select  ng-model="SelectedNameRow31" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>


<tr>
<td>  Create test estimates and budgets</td>



<td>

<select  ng-model="SelectedNameRow32" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>


<tr>
<td>  Perform cost accounting and provide status</td>



<td>

<select  ng-model="SelectedNameRow33" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>  Agile SCRUM Master experience</td>



<td>

<select  ng-model="SelectedNameRow34" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>


<tr>
<td> Consult on test solutions</td>



<td>

<select  ng-model="SelectedNameRow35" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>





<tr>
<th id = "header">      <b>Business Development</b>
</th>




<td id = "header">


</td>


</tr>



<tr>
<td>      Experience (in Yrs) with Software Dev Methodology (SDLC, Agile/SCRUM/Kanban/Iterative) </td>



<td>
<select ng-model="SelectedYearsRow36" ng-options="x for x in years" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>     Participate in and support test assessments</td>



<td>

<select  ng-model="SelectedNameRow37" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>
<tr>
<td>     Lead test assessments</td>



<td>

<select  ng-model="SelectedNameRow38" ng-options="x for x in names" style="width: 200px;">
</select>



</td>










</tr>


<tr><td>    Experience (in Yrs) testing using accelerators like CTD (Combinatorial Test Design) , DAC, CT</td>



<td>

<select ng-model="SelectedYearsRow39" ng-options="x for x in years" style="width: 200px;">
</select>



</td>


</tr>

<tr>
<td>    Conduct data analytics study</td>



<td>

<select  ng-model="SelectedNameRow40" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>

<tr>
<td>  Support troubled test programs</td>



<td>

<select  ng-model="SelectedNameRow41" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>   Develop Test proposals</td>



<td>

<select  ng-model="SelectedNameRow42" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>




<tr>
<th id = "header">      <b>Automated Testing and Related Tools</b>
</th>




<td id = "header">


</td>


</tr>



<tr>
<td>      Build test automation frameworks </td>



<td>

<select  ng-model="SelectedNameRow43" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>     Lead test automation efforts</td>



<td>

<select  ng-model="SelectedNameRow44" ng-options="x for x in names" style="width: 200px;">
</select>
</td>

</tr>
<tr>
<td>    Design test automation scripts</td>



<td>

<select  ng-model="SelectedNameRow45" ng-options="x for x in names" style="width: 200px;">
</select>



</td>










</tr>


<tr><td>    Knowledge of Programming Languages</td>



<td>

<select  ng-model="SelectedNameRow46" ng-options="x for x in names" style="width: 200px;">
</select>



</td>


</tr>

<tr>
<td>   Write performance testing scripts</td>



<td>

<select  ng-model="SelectedNameRow47" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>  Rational Functional Tester</td>



<td>

<select  ng-model="SelectedNameRow48" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td> IBM ATA (Automating Test Automation)</td>



<td>

<select  ng-model="SelectedNameRow49" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>

<tr>
<td> QA Partner</td>



<td>

<select  ng-model="SelectedNameRow50" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>


<tr>
<td> HP Quality Center (QC)</td>



<td>

<select  ng-model="SelectedNameRow51" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td> HP WinRunner</td>



<td>

<select  ng-model="SelectedNameRow52" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>



<tr>
<td>  HP Unified Functional Testing (UFT)</td>



<td>

<select  ng-model="SelectedNameRow53" ng-options="x for x in names" style="width: 200px;">
</select>



</td>

</tr>



<tr>
<td> HP QuickTest Pro (QTP)</td>



<td>

<select  ng-model="SelectedNameRow54" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>


<tr>
<td> Silk Test</td>



<td>

<select  ng-model="SelectedNameRow55" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td> Selenium IDE (Integrated Development Environment)</td>



<td>

<select  ng-model="SelectedNameRow56" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>Selenium RC/WebDriver</td>



<td>

<select  ng-model="SelectedNameRow57" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>




















<tr>
<th id = "header">      <b>Performance Testing and Related Tools</b>
</th>




<td id = "header">


</td>


</tr>



<tr>
<td>     Build performance testing frameworks </td>



<td>

<select  ng-model="SelectedNameRow58" ng-options="x for x in names" style="width: 200px;">
</select>



</td>

</tr>

<tr>
<td>     Lead performance testing efforts (Run test planning session, create Performance Test Plan)</td>



<td>

<select  ng-model="SelectedNameRow59" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>
<tr>
<td>    Design performance testing scripts</td>



<td>

<select  ng-model="SelectedNameRow60" ng-options="x for x in names" style="width: 200px;">
</select>



</td>


</tr>


<tr><td>    Knowledge of Programming Languages</td>



<td>
<select  ng-model="SelectedNameRow61" ng-options="x for x in names" style="width: 200px;">
</select>




</td>


</tr>

<tr>
<td>   Write performance testing scripts</td>



<td>

<select  ng-model="SelectedNameRow62" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td> Rational Performance Tester</td>



<td>

<select  ng-model="SelectedNameRow63" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td> HP Quality Center LoadRunner</td>



<td>

<select  ng-model="SelectedNameRow64" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td> HP Performance Center</td>



<td>

<select  ng-model="SelectedNameRow65" ng-options="x for x in names" style="width: 200px;">
</select>
</td>
</tr>


<tr>
<td> Silk Performer</td>



<td>

<select  ng-model="SelectedNameRow66" ng-options="x for x in names" style="width: 200px;">
</select>
</td>
</tr>

<tr>
<td> Apache Jmeter</td>



<td>

<select  ng-model="SelectedNameRow67" ng-options="x for x in names" style="width: 200px;">
</select>
</td>
</tr>

<tr>

<td> Parasoft SOAtest</td>



<td>

<select  ng-model="SelectedNameRow68" ng-options="x for x in names" style="width: 200px;">
</select>
</td>
</tr>









<tr>
<th id = "header">      <b>CAMMS Testing</b>
</th>




<td id = "header">


</td>


</tr>



<tr>
<td>     Perform mobile application testing </td>



<td>

<select  ng-model="SelectedNameRow68" ng-options="x for x in names" style="width: 200px;">
</select>



</td>

</tr>

<tr>
<td>     Perform security testing</td>



<td>

<select  ng-model="SelectedNameRow69" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>
<tr>
<td>  Perform data analytics testing</td>



<td>

<select  ng-model="SelectedNameRow70" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



<tr>
<td>   Perform testing in the Cloud</td>



<td>

<select  ng-model="SelectedNameRow71" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>

<tr>
<td>   Perfrom Agile testing</td>



<td>

<select  ng-model="SelectedNameRow72" ng-options="x for x in names" style="width: 200px;">
</select>



</td>



</tr>






<tr>
<th id = "header">      <b>Other Tools Experience</b>
</th>




<td id = "header">


</td>


</tr>



<tr>
<td>     Junit/TestNG/Java</td>



<td>

<select  ng-model="SelectedNameRow73" ng-options="x for x in names" style="width: 200px;">
</select>



</td>


</tr>

<tr>
<td>     Cucumber/Celerity</td>



<td>

<select  ng-model="SelectedNameRow74" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>
<tr>
<td>  508 Testing tools - JAWS</td>



<td>

<select  ng-model="SelectedNameRow75" ng-options="x for x in names "  style="width: 200px;">
</select>



</td>




<tr>
<td>   508 Testing tools - Dragon</td>



<td>

<select  ng-model="SelectedNameRow76" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>
<tr>
<td>   508 Testing tools - Zoomtext</td>



<td>

<select  ng-model="SelectedNameRow77" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>   508 Testing tools - Compliance Sheriff</td>



<td>

<select  ng-model="SelectedNameRow78" ng-options="x for x in names" style="width: 200px;">
</select>

</td>




</tr>

<tr>
<td>508 Testing tools - Object Inspector</td>



<td>

<select  ng-model="SelectedNameRow79" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>508 Testing tools - Java Ferret</td>



<td>

<select  ng-model="SelectedNameRow80" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>508 Testing tools - Web Accessibility Toolbar (WAT)</td>



<td>

<select  ng-model="SelectedNameRow81" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>





<tr>
<td>508 Testing tools - Adobe Acrobat Pro (PDF)</td>


<td>

<select  ng-model="SelectedNameRow82" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>







<tr>
<td>IA Tool Scan - FortiFy</td>


<td>

<select  ng-model="SelectedNameRow83" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>





<tr>
<td>IA Tool Scan - AppScan</td>


<td>

<select  ng-model="SelectedNameRow84" ng-options="x for x in names" style="width: 200px;" >
</select>



</td>




</tr>




<tr>
<td>Knowledge of Programming Languages


<td>

<select  ng-model="SelectedNameRow85" ng-options="x for x in language" style="width: 200px;">
</select>



</td>




</tr>






<tr>
<td>Java/J2EE, .Net, Perl, Python, Shell Scripting, Power Shell, SQL, Other (Pls list)


<td>

<select  ng-model="SelectedNameRow86" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>


<tr>
<td>   List other tools that you may have used</td>



<td>

<INPUT    ng-model="othertools"  style="height:60px;font-size:14pt" />


</td>




</tr>


















<tr>
<th id = "header">      <b>Industry Knowledge</b>
</th>




<td id = "header">


</td>


</tr>



<tr>
<td>     Retail</td>



<td>

<select  ng-model="SelectedNameRow87" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>

<tr>
<td>     Manufacturing</td>



<td>

<select  ng-model="SelectedNameRow88" ng-options="x for x in names " style="width: 200px;">
</select>



</td>



</tr>
<tr>
<td>  Health Care</td>



<td>

<select  ng-model="SelectedNameRow89" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




<tr>
<td>   Transportation</td>



<td>

<select  ng-model="SelectedNameRow90" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>
<tr>
<td>   Banking</td>



<td>

<select  ng-model="SelectedNameRow91" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>





</tr>
<tr>
<td>   Finance</td>



<td>

<select  ng-model="SelectedNameRow92" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>


<tr>
<td>   Government</td>



<td>

<select  ng-model="SelectedNameRow93" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>



<tr>
<td>  Current Clearance(s) status</td>



<td>

<select  ng-model="SelectedNameRow94" ng-options="x for x in names" style="width: 200px;">
</select>



</td>




</tr>







<tr>
<th id = "header">   Additional Comments</th>



<td id = "header">




</td>




</tr>


<tr>
<td>  Add any additional comments that you wish to
provide</td>



<td>

<INPUT    ng-model="additionalcomments"  style="height:60px;font-size:14pt"  /><BR>


</td>




</tr>






























































</table>
</div>
<CENTER>



<!------- will remove once i change output from email to database------------------------------------------------------->
<form method="post" action="email.php">
    
<button  class ="buttons" >Submit</button>
<INPUT  NAME='Employee Name'  id='Employee Name' TYPE="hidden"  value= '  {{EN}}' ><BR>
<INPUT  NAME='Employee ID'   id='Employee ID' TYPE="hidden" value= '  {{EID}}' ><BR>
<INPUT  NAME='Band'   id='Band' TYPE="hidden"  value= '  {{Bd}}'><BR><BR>
<INPUT  NAME='Service Line'   id='Service Line' TYPE="hidden" value= '  {{srl}}'  ><BR>
<INPUT  NAME='Bluepages Manager Name'   id='Bluemanager' TYPE="hidden" value= '  {{BM}}' ><BR>
<INPUT  NAME='Service Area '   id='ServiceArea' TYPE="hidden" value= '  {{SM}}' ><BR><BR>
<INPUT  NAME='EXPERTISE'   value= '  {{jobrole}}' TYPE="hidden"><BR>
<INPUT  NAME='Test script creation'   value= '  {{SelectedNameRow1}}' TYPE="hidden"><BR>
<INPUT  NAME='Test script creation  Years of Experience'   value= '  {{SelectedYearsRow1}}' TYPE="hidden"><BR>
<INPUT  NAME='Test data creation'   value= '  {{SelectedNameRow2}}' TYPE="hidden"><BR>
<INPUT  NAME='Test data creation Years of Exoerience'   value= '  {{SelectedYearsRow2}}' TYPE="hidden"><BR>
<INPUT  NAME='Execute Test Scripts'   value= '  {{SelectedNameRow3}}' TYPE="hidden"><BR>
<INPUT  NAME='Execute Test Scripts Years of Experience'   value= '  {{SelectedYearsRow3}}' TYPE="hidden"><BR>
<INPUT  NAME='Write defects'   value= '  {{SelectedNameRow4}}' TYPE="hidden"><BR>
<INPUT  NAME='Write defects Years of Experience'   value= '  {{SelectedYearsRow4}}' TYPE="hidden"><BR>
<INPUT  NAME='Effectively communicate to stakholder/client'   value= '  {{SelectedNameRow5}}' TYPE="hidden"><BR>
<INPUT  NAME='Effectively communicate to stakholder/client Years of Experience'   value= '  {{SelectedYearsRow5}}' TYPE="hidden"><BR>
<INPUT  NAME='Execute test scripts'   value= '  {{SelectedNameRow6}}' TYPE="hidden"><BR>
<INPUT  NAME='Execute test scripts Years of Experience'   value= '  {{SelectedYearsRow6}}' TYPE="hidden"><BR>
<INPUT  NAME='write defects'   value= '  {{SelectedNameRow7}}' TYPE="hidden"><BR>
<INPUT  NAME='write defects  Years of Experience'   value= '  {{SelectedYearsRow7}}' TYPE="hidden"><BR>
<INPUT  NAME='Effectively communicate to stakeholders/client   '   value= '  {{SelectedNameRow8}}' TYPE="hidden"><BR>
<INPUT  NAME='Effectively communicate to stakeholders/client  Years of Experience '   value= '  {{SelectedYearsRow8}}' TYPE="hidden"><BR>
</form>
</CENTER>




</div>





    



</body>












</html>